
<div ng-controller="pinpaiEditCtrl as ctrl">
	<h3 class="menu-title">编辑品牌</h3>
	<div class="bread"><a href="">首页</a><span>></span><a href="">门店管理</a><span>></span><a href="">品牌列表</a><span>></span><a href="">编辑品牌</a></div>
   	<div class="content">
	    <form class="sui-form form-horizontal sui-validate font14" name="pinpaiForm">
	      <div class="control-group" ng-class="{'valid-success': pinpaiForm.name.$valid, 'valid-error': pinpaiForm.name.$invalid && pinpaiForm.name.$dirty}">
	        <label class="control-label"><span class="colorg">＊</span>品牌中文名：</label>
	        <div class="controls">
			  		<input class="input-xlarge" name="name" ng-model="ctrl.formData.name" placeholder="请填写品牌中文名" type="text" required />
	        </div>
	      </div>
			  <div class="control-group">
	        <label class="control-label">品牌英文名：</label>
	        <div class="controls">
				  	<input class="input-xlarge" name="enName" ng-model="ctrl.formData.enName" placeholder="品牌英文名" type="text"/>
	        </div>
	      </div>
	      <div class="control-group" ng-class="{'valid-success': pinpaiForm.file.$valid, 'valid-error': pinpaiForm.file.$invalid && pinpaiForm.file.$dirty}">
		        <label class="control-label"><span class="colorg">＊</span>品牌LOGO：</label>
		        <div class="controls">
							<a href="javascript:;" class="a-upload" ng-style="{'background': 'url('+ctrl.formData.file+') no-repeat center center'}">
								<input type="file" name="file" id="" required ng-model="ctrl.formData.file">
							</a>
							<span class="mr10">尺寸：大于600*600px</span>大小：100kb以内
		        </div>
      	</div>
		  	<div class="control-group">
	        <label class="control-label">品牌联系人：</label>
	        <div class="controls">
	          <input class="input-xlarge" name="username" ng-model="ctrl.formData.username" placeholder="品牌联系人" type="text"/>
	        </div>
	      </div>
	      <div class="control-group">
	        <label class="control-label">联系电话：</label>
	        <div class="controls">
	          <input class="input-xlarge" name="phone" ng-model="ctrl.formData.phone" placeholder="联系电话" type="tel"/>
	        </div>
	      </div>
		 		<div class="control-group">
	        <label class="control-label">品牌故事：</label>
	        <div class="controls">
			  		<textarea rows="5" class="input-block-level" ng-model="ctrl.formData.discription" placeholder="请输入品牌故事" style="width:550px"></textarea>
	        </div>
	      </div>
	      <div class="form-actions tac">
	          <!-- <button type="button" class="sui-btn w130 btn-green" ng-click="ctrl.addMendian()" ng-disabled="pinpaiForm.$invalid">确定</button> -->
	          <button type="button" class="sui-btn w130 btn-green" ng-click="ctrl.editMendian()">确定</button>
	      </div>
	    </form>
	</div>
</div>
