
<div ng-controller="pinpaiCtrl as ctrl">
	<div class="bread"><a href="">首页</a><span>></span><a href="">门店管理</a><span>></span><a href="">品牌列表</a><span>></span><a href="">添加品牌</a></div>
   	<div class="content">
	    <form class="form-horizontal" name="pinpaiForm">
	      <div class="form-group" ng-class="{'valid-success': pinpaiForm.name.$valid, 'valid-error': pinpaiForm.name.$invalid && pinpaiForm.name.$dirty}">
	        <label class="col-sm-2 control-label"><span class="colorg">＊</span>品牌中文名：</label>
	        <div class="col-sm-5">
		  			<input class="form-control" name="name" ng-model="ctrl.formData.name" placeholder="请填写品牌中文名" type="text" required />
	  			</div>
	      </div>
			  <div class="form-group">
	        <label class="col-sm-2 control-label">品牌英文名：</label>
	        <div class="col-sm-5">
			  		<input class="form-control" name="enName" ng-model="ctrl.formData.enName" placeholder="品牌英文名" type="text"/>
	  			</div>
	      </div>
	      <div class="form-group" ng-class="{'valid-success': pinpaiForm.file.$valid, 'valid-error': pinpaiForm.file.$invalid && pinpaiForm.file.$dirty}">
		        <label class="col-sm-2 control-label"><span class="colorg">＊</span>品牌LOGO：</label>
	          <div class="col-sm-5">
	          	<!-- <label class="col-md-3 control-label"><strong class="text-danger">*</strong>安装文件：</label>
	          	<div class="col-md-9 row">
	          	  <div class="col-md-6 row">
	          	  <input type="hidden" ng-model="app.params.fileId" name="fileId" required>
	          	  <div class="form-control-static">
	          	    <button type="file" ngf-select="app.uploadFiles($file, $invalidFiles)" ngf-max-size="30MB" ngf-model-invalid="errorFile" class="btn btn-shallow">附件上传</button>
	          	    <span class="text-warning">(.apk文件，最大限制30MB)</span>
	          	    <span class="text-success" ng-if="app.params.fileId"><i class="iconfont icon-nb-w1"></i>上传成功!</span>
	          	    <p class="help-block text-danger" ng-show="errorFile.$error=='maxSize'">文件太大！ 当前文件：{{errorFile.size / 1000000|number:1}}MB，最大30MB</p>
	          	  </div>
	          	  </div>
	          	</div> -->
							<a href="javascript:;" class="a-upload">
								<input type="file" name="file" id="" required ng-model="ctrl.formData.file">
							</a>
							<span class="mr10">尺寸：大于600*600px</span>大小：100kb以内
		  			</div>
      	</div>
		  	<div class="form-group">
	        <label class="col-sm-2 control-label">品牌联系人：</label>
          <div class="col-sm-5">
         	 <input class="form-control" name="username" ng-model="ctrl.formData.username" placeholder="品牌联系人" type="text"/>
	  			</div>
	      </div>
	      <div class="form-group">
	        <label class="col-sm-2 control-label">联系电话：</label>
	        <div class="col-sm-5">
          	<input class="form-control" name="phone" ng-model="ctrl.formData.phone" placeholder="联系电话" type="tel"/>
	  			</div>
	      </div>
		 		<div class="form-group">
	        <label class="col-sm-2 control-label">品牌故事：</label>
	        <div class="col-sm-5">
		  			<textarea rows="5" class="form-control" ng-model="ctrl.formData.discription" placeholder="请输入品牌故事" style="width:550px"></textarea>
	  			</div>
	      </div>
	      <div class="form-actions tac">
	          <!-- <button type="button" class="sui-btn w130 btn-green" ng-click="ctrl.addMendian()" ng-disabled="pinpaiForm.$invalid">确定</button> -->
	          <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.addMendian()">确定</button>
	      </div>
	    </form>
	</div>
</div>
