<div class="head" ng-controller="headerCtrl as ctrl">
	<div class="top clearfix">
		<div class="w1200 clearfix">
			<span class="">欢迎使用，如有任何疑问请联系客服！</span>
			<div class="admin-fun sui-dropdown pull-right">
				<a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
					<i class="icon icon5 mr10"></i>海底捞一店<i class="icon icon6 ml10"></i>
				</a>
				<ul role="menu" class="sui-dropdown-menu">
					<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon7"></i>修改资料</a></li>
					<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon8"></i>修改密码</a></li>
					<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon9"></i>退出</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="w1200 clearfix">
			<a href="" class="pull-left logo"></a>
			<ul class="menu-bar pull-left">
				<li class="menu-bar-li"><a ui-sref="main" class="myfavorite">我的收藏</a></li>
				<li class="menu-bar-li" ng-mouseenter="ctrl.mouseenter(index)" ng-mouseleave="ctrl.mouseleave(index)" ng-repeat="(index,item) in ctrl.allMenuList" >
					<a ui-sref="main.mendian"><i class="icon icon1"></i>{{item.title}}</a>
					<ul class="top-bar-hide top-bar-hide{{index+1}}" ng-show="ctrl.showMenu{{index}}">
						<li ng-repeat="subitem in item.list"><a>{{subitem.name}}</a></li>
					</ul>
				</li>
			</ul>
			<dl class="select" style="float:right">
				<dt class="">所有门店</dt>
				<dd style="display: none;">
					<ul>
						<li><a href="#">店铺1</a></li>
						<li><a href="#">店铺2</a></li>
						<li><a href="#">店铺3</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
</div>