<div class="head" ng-controller="headerCtrl as ctrl">
	<div class="top clearfix">
		<div class="w1200 clearfix">
			<span class="">欢迎使用，如有任何疑问请联系客服！</span>
			<div class="admin-fun pull-right">
				<span uib-dropdown on-toggle="toggled(open)">
		      <a href id="simple-dropdown" uib-dropdown-toggle>
	         <i class="icon icon5 mr10"></i> 海底捞一店<i class="icon icon6 ml10"></i>
		      </a>
		      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
		        <li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon7"></i>修改资料</a></li>
						<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon8"></i>修改密码</a></li>
						<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon9"></i>退出</a></li>
		      </ul>
		    </span>
			</div>
		</div>
	</div>
	<div class="header">
		<div class="w1200 clearfix">
			<a href="" class="pull-left logo"></a>
			<ul class="menu-bar pull-left">
				<li class="menu-bar-li"><a ui-sref="main" class="myfavorite">我的收藏</a></li>
				<li class="menu-bar-li" ng-mouseenter="ctrl.mouseenter(index)" ng-mouseleave="ctrl.mouseleave(index)" ng-repeat="(index,item) in ctrl.allMenuList" >
					<a ui-sref="{{item.url}}"><i class="icon icon1"></i>{{item.title}}</a>
					<ul class="top-bar-hide top-bar-hide{{index+1}}" ng-show="ctrl.showMenu{{index}}">
						<li ng-repeat="subitem in item.list"><a>{{subitem.name}}</a></li>
					</ul>
				</li>
			</ul>
			<div class="dropdown pull-right">
				<span uib-dropdown on-toggle="toggled(open)">
		      <input type="text" class="btn" id="dropdown2" uib-dropdown-toggle>
		      <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="dropdown2">
		       <li><a href="#">店铺1</a></li>
						<li><a href="#">店铺2</a></li>
						<li><a href="#">店铺3</a></li>
		      </ul>
		    </span>
			</div>
		</div>
	</div>
</div>