<div class="loginbg">
	<div class="login">
		<form class="login-con">
			<h3>登录</h3>
			<span class="warning">您输入的帐号或者密码不正确，请重新输入。</span>
			<ul class="login-ul">
				<label><li><i class="icon1"></i><input type="text" class="number" ng-model="phone" placeholder="请输入你的手机号" /></li></label>
				<label><li><i class="icon2"></i><input type="text" class="password" ng-model="password" placeholder="请输入密码"/></li></label>
				<label><input type="checkbox" value="action" ng-model="remember" name="genre"><label for="check-1" class="">记住密码</label></label>
				<li><a href="javascript:void(0);" class="sui-btn btn-green" ng-click="login()" style="display:block">登陆</a></li>
			</ul>
		</form>
	</div>
</div>
