<!DOCTYPE html>
<html>
<head>
<title>添加员工</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<link href="statics/css/sui.min.css" rel="stylesheet">
<link href="statics/css/sui-append.css" rel="stylesheet">
<link href="statics/css/work.css" rel="stylesheet">
</head>
<body onload="setup();preselect('上海市');promptinfo();">
	<div class="head">
		<div class="top clearfix">
			<div class="w1200 clearfix">
				<span class="">欢迎使用，如有任何疑问请联系客服！</span>
				<div class="admin-fun sui-dropdown pull-right">
					<a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">
						<i class="icon icon5 mr10"></i>海底捞一店<i class="icon icon6 ml10"></i>
					</a>
					<ul role="menu" class="sui-dropdown-menu">
						<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon7"></i>修改资料</a></li>
						<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon8"></i>修改密码</a></li>
						<li><a role="menuitem" tabindex="-1" href="#"><i class="icon icon9"></i>退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header">
			<div class="w1200 clearfix">
				<a href="" class="pull-left logo"></a>
				<ul class="menu-bar pull-left">
					<li class="menu-bar-li"><a href="#">我的收藏</a></li>
					<li class="menu-bar-li"><a href="#"><i class="icon icon1"></i>门店管理</a>
						<ul class="top-bar-hide">
							<li><a href="">门店列表</a></li>
							<li><a href="">员工管理</a></li>
							<li><a href="">餐台分类</a></li>
							<li><a href="">餐台列表</a></li>
							<li><a href="">订单管理</a></li>
						</ul>
					</li>
					<li class="menu-bar-li"><a href="#"><i class="icon icon2"></i>菜品管理</a>
						<ul class="top-bar-hide top-bar-hide2">
							<li><a href="">菜品分类</a></li>
							<li><a href="">菜品列表</a></li>
							<li><a href="">菜单列表</a></li>
						</ul>
					</li>
					<li class="menu-bar-li"><a href="#"><i class="icon icon3"></i>数据分析</a>
						<ul class="top-bar-hide top-bar-hide3">
							<li><a href="">门店列表</a></li>
							<li><a href="">员工管理</a></li>
							<li><a href="">餐台分类</a></li>
							<li><a href="">餐台列表</a></li>
							<li><a href="">订单管理</a></li>
						</ul>
					</li>
					<li class="menu-bar-li"><a href="#"><i class="icon icon4"></i>系统配置</a>
						<ul class="top-bar-hide top-bar-hide4">
							<li><a href="">支付管理</a></li>
							<li><a href="">公众号管理</a></li>
						</ul>
					</li>
					
				</ul>
				<dl class="select" style="float:right">
					<dt class="">所有门店</dt>
					<dd style="display: none;">
						<ul>
							<li><a href="#">12131</a></li>
							<li><a href="#">下拉2</a></li>
							<li><a href="#">下拉3</a></li>
							<li><a href="#">下拉4</a></li>
							<li><a href="#">下拉5</a></li>
							<li><a href="#">下拉6</a></li>
						</ul>
					</dd>
				</dl>
			</div>
		</div>
	</div>
    <div class="main">
		<h3 class="menu-title">添加员工</h3>
		<div class="bread"><a href="">首页</a><span>></span><a href="">门店管理</a><span>></span><a href="">员工管理</a><span>></span><a href="">添加员工</a></div>

	   	<div class="content">
		    <form class="sui-form form-horizontal sui-validate font14 sui-validate" id="form1">
	    	  <div class="clearfix">
			      <div class="pull-left border-r w435">
				      <div class="control-group">
				        <label class="control-label"><span class="colorg">＊</span>员工工号：</label>
				        <div class="controls">
						  <input class="input-large w260"  data-error-msg="昵称必须是2-6位" data-empty-msg="亲，昵称别忘记填了" name="id" data-rules="required" placeholder="请填写员工工号" required type="text"/>
						  <div class="sui-msg msg-error help-inline" style="display:none;">
						    <div class="msg-con">
						      <span>请填写员工工号</span>
						   </div>   <i class="msg-icon"></i>
						  </div>
				        </div>
				      </div>
					  <div class="control-group">
				        <label class="control-label"><span class="colorg">＊</span>员工姓名：</label>
				        <div class="controls">
						  <input class="input-large w260" name="name"  placeholder="请填写员工姓名" required type="text"/>
						  <div class="sui-msg msg-error help-inline" style="display:none;">
						    <div class="msg-con">
						      <span>请填写员工姓名</span>
						   </div>   <i class="msg-icon"></i>
						  </div>
				        </div>
				      </div>
				      <div class="control-group">
				        <label class="control-label"><span class="colorg">＊</span>手机号码：</label>
				        <div class="controls">
						  <input class="input-large w260" name="phone" placeholder="请填写手机号码" required type="text"/>
						  <div class="sui-msg msg-error help-inline" style="display:none;">
						    <div class="msg-con">
						      <span>请填写手机号码</span>
						   </div>   <i class="msg-icon"></i>
						  </div>
				        </div>
				      </div>
				       <div class="control-group">
				        <label class="control-label"><span class="colorg">＊</span>员工密码：</label>
				        <div class="controls">
						  <input class="input-large w260" name="password" placeholder="请填写密码" required type="password"/>
						  <div class="sui-msg msg-error help-inline" style="display:none;">
						    <div class="msg-con">
						      <span>请填写密码</span>
						   </div>   <i class="msg-icon"></i>
						  </div>
				        </div>
				      </div>
				      <div class="control-group">
						  <label class="control-label"><span class="colorg">＊</span>员工角色：</label>
						  <select class="slelect-role"  style="height:36px;width:272px">
						    <option value="">请选择角色</option>
						    <option value="店长">店长</option>
						    <option value="服务员">服务员</option>
						  </select>
						  <div class="sui-msg msg-error help-inline" style="display:none;">
							  <div class="msg-con">
							    <span>请选择员工角色</span>
							 </div>   <i class="msg-icon"></i>
							</div>	
						</div>
					 
			      </div>
			      <div class="pull-left border-l mb20">
			      		<div class="form-city">
			      			<div class="control-group">
			  					<label class="control-label ml40" style="display:block;"><span class="colorg">＊</span>分配管理店铺</label>
			  					<div class="controls">
			  						<span class="text-gray">（店长及服务员角色均只能对应一家门店！）</span>
			  					</div>
			      			</div>
					      	<div class="search-box ml40 mt10">
						      	<div class="control-group pt30 pr30 pl30 pb30 bgfff">
				  					<select class="select mt10" name="">
				  						<option value="">肯德基</option>
				  						<option value="">肯德基1</option>
				  					</select>
				  					<select class="select mt10" name="province" id="s1">
				  					<option></option>
				  					</select>
				  					<select class="select mt10" name="city" id="s2">
				  					<option></option>
				  					</select>
				  					<select class="select mt10" name="town" id="s3">
				  					<option></option>
				  					</select>
				  					<input id="address" name="address" type="hidden" value="" />
								</div>
								<ul class="search-result-list border-t">
									<li>
										<label data-toggle="checkbox" class="checkbox-pretty inline ">
										  <input type="checkbox"><span>东方既白（浦东一店）</span>
										</label>
									</li>
									<li>
										<label data-toggle="checkbox" class="checkbox-pretty inline">
										  <input type="checkbox"><span>东方既白（浦东345店）</span>
										</label>
									</li>
									<li>
										<label data-toggle="checkbox" class="checkbox-pretty inline">
										  <input type="checkbox"><span>东方既白（浦东张江高科旗舰店）</span>
										</label>
									</li>
									<li>
										<label data-toggle="checkbox" class="checkbox-pretty inline">
										  <input type="checkbox"><span>东方既白（浦东徐汇美罗城2店）</span>
										</label>
									</li>
								</ul>
					      	</div>
			      		</div>
			      </div>
	    	  </div>
		      <div class="form-actions tac">
		          <button type="submit" id="submitForm" class="sui-btn w130 btn-green mr30">确定</button>
		          <button type="button" class="sui-btn w130 btn-gray">确定</button>
		      </div>
		    </form>
		</div>
    </div>
    <!--提示信息-->
	<div id="alertInfo" tabindex="-1" role="dialog" data-backdrop="static" class="sui-modal alert-modal hide">
	    <div class="delete-box tac">
			<p class="col666">店长及服务员角色均只能对应一家门店！</p>
			<a href="javascript:void(0);" data-ok="modal"  class="sui-btn w100 btn-green mr15">确定</a>
			<a href="javascript:void(0);" data-dismiss="modal"  class="sui-btn w100 btn-gray">取消</a>
		</div>
	</div>
<script>
	function promptinfo()
	{
		var address = document.getElementById('address');
		var s1 = document.getElementById('s1');
		var s2 = document.getElementById('s2');
		var s3 = document.getElementById('s3');
		address.value = s1.value + s2.value + s3.value;
	}


</script>
<script  type="text/javascript" src="statics/js/geo.js"></script>
<script  type="text/javascript" src="statics/js/require.js" data-main="statics/js/main"></script>
</body>
</html>