 <div ng-controller="mendianCtrl as ctrl">
		<h3 class="menu-title">门店列表</h3>
		<div class="bread"><a href="">首页</a><span>></span><a href="">门店管理</a><span>></span><a href="">门店列表</a></div>
		<div class="content">
			<form class="form-inline">
				<div class="form-group">
					<label>门店名称：</label>
					<input class="form-control" id="autocomplete-ajax" autocomplete="off" type="text" placeholder="请输入要搜索的店名">
				</div>
				<div class="form-group">
					<label>门店状态：</label>
					<select name="" id="" class="form-control"></select>
				</div>
				<a href="javascript:void(0);" class="btn btn-warning" ng-click="ctrl.search(query)">查询</a>
				<a ui-sref="main.mendian.add" class="btn btn-primary">添加门店</a>
			</form>
			<table class="table table-hover">
				<tr>
					<th width="30%">门店名称</th>
					<th width="15%">门店电话</th>
					<th width="15%">门店类型</th>
					<th width="10%">门店状态</th>
					<th width="30%">操作</th>
				</tr>
				<tr ng-repeat="(index,item) in ctrl.tableList">
					<td>{{item.name}}</td>
					<td>{{item.phone}}</td>
					<td>{{item.type | mendianTypeFilter}}</td>
					<td>{{item.status | mendianStatusFilter}}</td>
					<td>
						<a href="javascript:void(0)" class="btn btn-default">编辑</a>
						<a href="javascript:void(0)" class="btn btn-default">暂停营业</a>
						<a href="javascript:void(0)" class="btn btn-default">详情</a>
						<a href="javascript:void(0)" class="btn btn-danger">删除</a>
					</td>
				</tr>
			</table>
	</div>
</div>
<!--确定删除-->
<div id="myModal" tabindex="-1" role="dialog" data-backdrop="static" class="sui-modal hide">
    <div class="delete-box tac">
		<p class="col666">确定删除该门店吗？</p>
		<a href="javascript:void(0);" data-ok="modal"  class="sui-btn w100 btn-green mr15">确定</a>
		<a href="javascript:void(0);" data-dismiss="modal"  class="sui-btn w100 btn-gray">取消</a>
	</div>
</div>
<!--确定暂停-->
<div id="myModal2" tabindex="-1" role="dialog" data-backdrop="static" class="sui-modal hide">
    <div class="delete-box tac">
		<p class="col666">确定暂停该门店吗？</p>
		<a href="javascript:void(0);" data-ok="modal"  class="sui-btn w100 btn-green mr15">确定</a>
		<a href="javascript:void(0);" data-dismiss="modal"  class="sui-btn w100 btn-gray">取消</a>
	</div>
</div>