   <div class="main">
		<h3 class="menu-title">添加菜品</h3>
		<div class="bread"><a href="">首页</a><span>></span><a href="">菜品管理</a><span>></span><a href="">菜品列表</a><span>></span><a href="">添加菜品</a></div>
	   	<div class="content">
		    <form class="sui-form form-horizontal sui-validate font14">
		      <div class="control-group">
		        <label class="control-label"><span class="colorg">＊</span>菜品名称：</label>
		        <div class="controls">
				  <input class="input-xlarge" name="name" data-empty-msg="请填写菜品名称" placeholder="请填写菜品名称" data-rules="required" type="text"/>
		        </div>
		      </div>
			  <div class="control-group">
		        <label class="control-label">菜品简拼：</label>
		        <div class="controls">
				  <input class="input-xlarge" name="name" data-empty-msg="请填写菜品简拼" placeholder="请填写菜品简拼" type="text"/>
		        </div>
		      </div>
			  <div class="control-group">
		        <label class="control-label"><span class="colorg">＊</span>菜品分类：</label>
		        <div class="controls">
		         <span class="sui-dropdown sui-dropdown3 dropdown-bordered select"><span class="dropdown-inner"><a role="button" data-toggle="dropdown" href="#" class="dropdown-toggle">
		                <input value="bj" name="city" data-rules="required" type="hidden"><i class="caret"></i><span>主食</span></a>
		                <ul id="menu4" role="menu" aria-labelledby="drop4" class="sui-dropdown-menu">
		                    <li class="active" role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="sb">套餐</a></li>
		                    <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:void(0);" value="sb">麻辣烫</a></li>
						</ul>
						</span>
					</span>
		        </div>
		      </div>
			  <div class="control-group">
		        <label class="control-label">菜品描述：</label>
		        <div class="controls">
				  <textarea rows="3" class="input-block-level" placeholder="请输入菜品描述" style="width:350px"></textarea>
		        </div>
		      </div>
			  <div class="control-group">
		        <label class="control-label"><span class="colorg">＊</span>价格：</label>
		        <div class="controls">
				 	<span class="relative dc-icon-pos"><input class="input-small" name="price" data-empty-msg="请填写菜品价格" placeholder="菜品价格" data-rules="required" type="text"/><i class="dc-icon dc-icon-yen"></i></span><span class="splitleft">/</span><input class="input-small" name="price" data-empty-msg="请填写单位" data-rules="required" placeholder="份" type="text"/>
		        </div>
		      </div>
			   <div class="control-group">
		        <label class="control-label"><span class="colorg">＊</span>菜品图片：</label>
		        <div class="controls">
					<a href="javascript:;" class="a-upload">
					<input type="file" name="" id=""><span class="mr10">尺寸：大于600*600px</span>大小：100kb以内
					</a>
		        </div>
		      </div>
			  <div class="control-group">
				<label class="control-label">状态：</label>
		        <div class="controls">
			      <label class="radio-pretty inline checked">
		            <input name="radio" type="radio"><span>正常</span>
		          </label>
		          <label class="radio-pretty inline">
		            <input checked="checked" name="radio" type="radio"><span>下架</span>
		          </label>
		        </div>
		      </div>
		     <div class="control-group">
				<label class="control-label">店长优惠自定义：</label>
		        <div class="controls">
			      <label class="radio-pretty inline checked">
		            <input checked="checked" name="radio" type="radio"><span>允许</span>
		          </label>
		          <label class="radio-pretty inline">
		            <input name="radio" type="radio"><span>不允许</span>
		          </label>
		        </div>
		      </div>
		      <div class="form-actions tac">
		          <button type="submit" class="sui-btn w130 btn-green">确定</button>
		      </div>
		    </form>
		</div>
    </div>
    </div>
</div>