<div ng-controller="dingdanCtrl as ctrl">
	<h3 class="menu-title">订单列表</h3>
	aaa{{ctrl.tableList}}
	<div class="bread"><a href="">首页</a><span>></span><a href="">门店管理</a><span>></span><a href="">订单列表</a></div>
	<div class="content">
		<form class="form-inline">
			<div class="form-group">
				<label>订单编号：</label>
				<input class="form-control" ng-model="id" type="text" placeholder="请输入要搜索的订单编号">
			</div>
			<div class="form-group">
				<label>订单类型：</label>
				<select class="form-control" ng-model="status" ng-init="status='1'" ng-options="status.id as status.name for status in ctrl.orderType">
					<!-- <option value="">请选择</option> -->
				</select>
			</div>
			<a href="javascript:void(0);" class="btn btn-warning" ng-click="ctrl.query(id, status)">查询</a>
		</form>
		<table class="table table-hover table-responsive">
			<tr>
				<th width="15%">订单编号</th>
				<th width="20%">下单门店</th>
				<th width="15%">下单时间</th>
				<th width="10%">订单类型</th>
				<th width="10%">订单状态</th>
				<th width="10%">支付状态</th>
				<th width="10%">订单支付金额</th>
				<th width="10%">优惠金额</th>
			</tr>
			<tr ng-repeat="(index,item) in ctrl.tableList">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.dateTime}}</td>
				<td>{{item.type | statusFilter}}</td>
				<td>{{item.status | orderTypeFilter}}</td>
				<td>{{item.payStatus | payStatusFilter}}</td>
				<td>{{item.money}}</td>
				<td>{{item.paidMoney}}</td>
			</tr>
		</table>
	</div>
</div>