<div ng-controller="dingdanCtrl as ctrl">
	<h3 class="menu-title">订单列表</h3>
	<div class="bread"><a href="">首页</a><span>></span><a href="">门店管理</a><span>></span><a href="">订单列表</a></div>
	<div class="content">
		<form class="sui-form form-horizontal sui-validate font14">
				<div class="control-group">
					<div class="controls mr30">
						<label class="control-label">订单编号：</label>
						<div class="controls mr40">
							<input class="input-large" ng-model="id" type="text" placeholder="请输入要搜索的订单编号">
						</div>
					</div>
					<label class="control-label ml30">订单类型：</label>
					<div class="controls mr40">
						<select class="sui-dropdown sui-dropdown2 dropdown-bordered select" ng-model="status" ng-init="status='1'" ng-options="status.id as status.name for status in ctrl.orderType">
							<!-- <option value="">请选择</option> -->
						</select>
					</div>
					<a href="javascript:void(0);" class="sui-btn w100 btn-green ml40" ng-click="ctrl.query(id, status)">查询</a>
				</div>
		</form>
		<table class="sui-table table-zebra tb">
			<tr>
				<th width="15%">订单编号</th>
				<th width="20%">下单门店</th>
				<th width="15%">下单时间</th>
				<th width="10%">订单类型</th>
				<th width="10%">订单状态</th>
				<th width="10%">支付状态</th>
				<th width="10%">订单支付金额</th>
				<th width="10%">优惠金额</th>
			</tr>
			<tr ng-repeat="(index,item) in ctrl.tableList">
				<td>{{item.id}}</td>
				<td>{{item.name}}</td>
				<td>{{item.dateTime}}</td>
				<td>{{item.type | statusFilter}}</td>
				<td>{{item.status | orderTypeFilter}}</td>
				<td>{{item.payStatus | payStatusFilter}}</td>
				<td>{{item.money}}</td>
				<td>{{item.paidMoney}}</td>
			</tr>
		</table>
		<div class="sui-pagination pagination-large">
			<ul>
				<li class="prev disabled"><a href="#">«上一页</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li class="dotted"><span>...</span></li>
				<li class="next"><a href="#">下一页»</a></li>
			</ul>
			<div><span>共10页&nbsp;</span><span>到<input class="page-num" type="text"><button class="page-confirm" onclick="alert(1)">确定</button>页</span></div>
		</div>
	</div>
</div>